body {
  font-family: Roboto,sans-serif;
}

.head-information {
  background-image:
    linear-gradient(
      rgba(65, 49, 125, 0.45), 
      rgba(65, 49, 125, 0.45)
    ),
  url("../img/cidade.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFF;
} 

.head-information .buttons {
 padding: 70px;
}

.head-information .my-information {
  padding: 70px;
  padding-left: 40px;
}


.head-information i {
  border: solid 2.3px #FFF;
  padding: 15px;
  color: #fff;
  height: 74.5px;
  width: 71.5px;
}

.head-information .top-bottom a {
  color: #FFF;
  text-decoration: none;
  border-radius: 100px;
  padding: 20px;
  background-color: #EC0856;
  width: 169px;
  font-size: 22px;
}


.head-information .top-bottom :hover {
  background-color: #202648;
}

.head-information h1 {
  font-size: 100px;
  font-weight: 100;
  margin-top: 40px;
}

.head-information h2 {
  font-size: 50px;
  margin-top: 40px;
  opacity: 0.8;
}

.head-information p {
  font-size: 22px;
  margin-bottom: 0px; 
  opacity: 0.5;
}

.animation {
  background-color: #EC0856;
  padding: 4em;
  font-size: 50px;
  color: #FFF
}

.about-content {
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.about-content p {
  font-size: 23px;
}

.about-content strong {
  font-size: 80px;
  font-weight: 100;
}

.demonstration-awesome {
  padding: 70px;
}

.demonstration-awesome hr{
  border-top: 3px solid rgba(0,0,0,.1) 
}

.second-about {
  padding: 70px;
}

.second-about h2 {
  font-size: 55px;
  font-weight: 300;
}

.second-about p {
  font-size: 24px;
  font-weight: 400;
}

.demonstration-awesome1 {
  padding: 90px;
  padding-top: 0px;
}

.demonstration-awesome1 h4 {
  font-size: 55px;
  font-weight: 300;
}

.demonstration-awesome1 p {
  font-size: 24px;
}

.progress-abilities {
  background-image:    
  linear-gradient(
      rgba(65, 49, 125, 0.45), 
      rgba(65, 49, 125, 0.45)
    ), 
  url("../img/conhecimento.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 70px;
  color: #fff;
}

.progress-abilities h1 {
  font-size: 84px;
  font-weight: 100;
}

.progress-abilities p {
  font-size: 23px;
}

.skills-show .progress-html {
  width: 80%;
}

.skills-show .progress-css {
  width: 70%;
}

.skills-show .progress-bootstrap {
  width: 50%;
}

.skills-show .progress-rd {
  width: 50%;
}

.skills-show .progress-git {
  width: 60%;
}

.skills-show .progress-js {
  width: 10%;
}

.progress-abilities .progress {
  border: 5px solid #fff;
  margin-top: 3px;
}

.skills-show {
  padding-top: 40px;
  margin-left: 60px;
}

.skills-card {
  padding-top: 70px;
  padding-left: 70px;
}

.skills-card .card {
  width: 20rem;
  color: black;
}

.border-skill-card1 {
  border-radius: 10px;
  border: 3px solid transparent;
  width: 200px;
}

.border-skill-card1 h3{
  color: #580183;
  font-size: 55px;
}

.border-skill-card1 ul{
  color: #5b6b7f;
  font-size: 24px;
  font-weight: 300;
}

.border-skill-card1 .quality-color-p {
  color: #EC0856;
  font-size: 25px;
  margin-bottom: 20px;
}

.border-skill-card1 .quality-color-b {
  color: #0977C7;
  font-size: 25px;
  margin-bottom: 20px;
}

.border-skill-card2 {
  border-radius: 10px;
  border: 3px solid transparent;
}

.border-skill-card2 h3 {
  color: #0977C7;
  font-size: 55px;
}

.border-skill-card2 p {
 color: #758599;
 margin-bottom: 24px; 
}

.border-skill-card3 {
  border-radius: 10px;
  border: 3px solid transparent;
}
  
.border-skill-card3 h3 {
  color: #580183;
  font-size: 55px;
}

.border-skill-card3 .wrap-awesom {
  padding-left: 40px;
}

.border-skill-card3 .wrap-awesom i {
  font-size: 40px;
  margin-bottom: 20px;
}

.border-skill-card3 .wrap-awesom p {
  color: #738A99;
  font-size: 24px;
  margin-bottom: 20px;
}
  
.education-padding {
  padding: 70px;
}

.education-formation {
  margin-top: 60px;
}

.education-padding .rounded-circle {
  background-color: #580183;
  border-radius: 50%;
  color: #FFF;
  padding: 17px;
  font-size: 50px;
  height: 90px;
}

.education-padding h2 {
  font-size: 87px;
}

.education-padding p {
  font-size: 23px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;

}
.balao1 {
    color: #FFF;
    background: #222930;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 30px;
    padding-right: 87%;
    font-size: 30px;

    position: relative;
}
.balao1:after{

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #222930;

    right:-20px;
    top: 20%;
}

.education-padding i {
  margin-left: 30px;
  margin-right: 40px;
}

.margin-education-2 {
  margin-left: 29.5%;
}

.balao2 {
    color: #FFF;
    background: #222930;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 30px;
    padding-right: 50%;
    font-size: 30px;

    position: relative;
}
.balao2:after{

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #222930;

    right:470px;
    top: 20%;
}

.balao3 {
    color: #FFF;
    background: #222930;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 30px;
    padding-right: 51%;
    font-size: 30px;

    position: relative;
}
.balao3:after{

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #222930;

    right:-20px;
    top: 20%;
}

.balao1 strong {
  font-weight: unset; 
} 

.balao2 strong {
  font-weight: unset; 
}

.balao3 strong {
  font-weight: unset; 
} 

.work-experience-padding {
  padding: 70px;
  background-color: #580183;
  color: #FFF;
}

.work-experience-padding h2 {
  font-size: 87px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.work-experience-padding p {
  font-size: 25px;
  margin-bottom: 40px;
}

.work-experience-padding h3 {
  color: #FF2A73;
  margin-top: 40px;
  font-size: 37px;
}

.work-experience-padding h5 {
  font-size: 23px;
  color: rgba(255,255,255,.7);
  text-transform: uppercase;
}

.nav-courses a {
  color : #000;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
}

.nav-courses a:hover {
  color : #EC0856;
  border: 2px solid #EC0856;
  border-radius: 100px;
}

.portfolio {
  margin-left: 70px;
  margin-right: 100px;
}

.portfolio h2{
  font-size: 87px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.portfolio p{
  font-size: 25px;
}

.portfolio-page1 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.portfolio-page2 {
  margin-bottom: 100px;
}

.resume-tag {
  background-color: #EC0856;
  padding: 110px;
  margin: 0px;
}

.resume-tag i {
  border: solid 2.3px #FFF;
  padding: 10px;
  color: #fff;
  margin-right: 10px;
  background-color: 
} 

.resume-tag i:hover{
  background-color: #2D373D;
  border: 2px solid rgba(44,49,58,1)
}

.resume-tag-download {
  padding: 10px;
  vertical-align: center;

}
.resume-tag-download a {
  color : #2D373D;
  font-size: 25px;
  background-color: #FFF;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.resume-tag-download a:hover {
  color : #FFF;
  background-color: #2D373D;
  border: 2px solid #EC0856;
  border-radius: 100px;
}

.contact {
    background-image:
    linear-gradient(
      rgba(65, 49, 125, 0.45), 
      rgba(65, 49, 125, 0.45)
    ),
  url("../img/cidade.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFF;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact h2 {
  font-size: 75px;
}

.contact i {
  margin-top: 50px;
}

.contact p {
  font-size: 40px;
  margin-bottom: 43px;
}

.contact input {
  font-size: 23px;
}

.input-margin {
  margin-top: 50px;
}

.contact .input-group {
  width: 550px;
  height: 50px;
}

.text-area-size {
  width: 37.5em;
  height: 15em;
  margin-top: 2em;
  margin-bottom: 3em; 
}

.input-information-button {
  margin-bottom: 80px;
}

.input-information-button a {
  color : #fff;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #1087EA;
  font-size: 30px;
  padding-left: 107px;
  padding-right: 107px;

}

.input-information-button a:hover {
  color: #1087EA;
  background-color: #FFF
}

.footer-page {
  background-color: #342333 ;
  color: #FFF
}

.footer-page-left {
  float: left;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-page-right {
  float: right;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-page p {
  font-size: 20px;
}

